# Ganti nama file ini menjadi .env
# Isi dengan kredensial database di server hosting Anda

DB_HOST="127.0.0.1"
DB_PORT="3306"
DB_NAME="nama_database_anda"
DB_USER="username_database_anda"
DB_PASS="password_rahasia_anda"
DB_CHAR="utf8mb4"
